@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	
     font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
     background-color: #2B2B2B;
     margin: 0;
     padding: 0;
     color: #000;
}

a:link {
     color: #000000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
.homePage {
	background: #1B1B1B;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #9B6061;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #BBBBBB;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #777777;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 55%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-left: auto;
	margin-right:auto;
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  display: inherit;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	display: inherit;
	margin-left: auto;
	margin-right:auto;
}
form {
	display:list-item;
}
label {
}
.content form label {
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
